<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Registration</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
</head>
<body class="bg-light">

  <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6 bg-white p-4 shadow rounded">
      <h2 class="text-center mb-4">Student Registration Form</h2>

      <form th:action="@{/students}" th:object="${student}" method="post">
        <div class="form-group">
          <label for="firstName">Student First Name</label>
          <input type="text" name="firstName" id="firstName" class="form-control" placeholder="Enter First Name" required>
        </div>

        <div class="form-group">
          <label for="lastName">Student Last Name</label>
          <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Enter Last Name" required>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email" required>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-warning">Submit</button>
          <a th:href="@{/students}" class="btn btn-secondary ml-2">Back</a>
        </div>
      </form>
    </div>
  </div>

</body>
</html>
